{% extends 'base.html.twig' %}

{% block title %}Recept index{% endblock %}

{% block body %}
<div class="container">
    <h1>Recept</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <!-- <th>Prijs</th><!-->
                <th>Bereidingswijze</th>
                <th>Wijzigen</th>
            </tr>
        </thead>
        <tbody>
        {% for recept in recepts %}
            <tr>
                <td>{{ recept.naam }}</td>
                <!--<td>{{ recept.prijs }}</td><!-->
                <td>{{ recept.bereidingswijze }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('recept_edit', {'id': recept.id}) }}">edit</a>
                    <a> {{ include('recept/_delete_form.html.twig') }} </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
