{% extends 'base.html.twig' %}

{% block title %}New Recept{% endblock %}

{% block body %}
<div class="container-md">
    <h1>Recept</h1>

    {{ include('recept/_form.html.twig') }}

    <a href="{{ path('recept_index') }}">back to list</a>
</div>
{% endblock %}
