{% extends 'base.html.twig' %}

{% block title %}Edit Bestellingregel{% endblock %}

{% block body %}
    <h1>Edit Bestellingregel</h1>

    {{ include('bestellingregel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bestellingregel_index') }}">back to list</a>

    {{ include('bestellingregel/_delete_form.html.twig') }}
{% endblock %}
