{% extends 'base.html.twig' %}

{% block title %}New Bestellingregel{% endblock %}

{% block body %}
<div class="container-md">
    <h1>Create new Bestellingregel</h1>

    {{ include('bestellingregel/_form.html.twig') }}

    <a href="{{ path('bestellingregel_index') }}">back to list</a>
</div>
{% endblock %}
