{% extends 'base.html.twig' %}

{% block title %}Bestellingregel{% endblock %}

{% block body %}
    <h1>Bestellingregel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bestellingregel.id }}</td>
            </tr>
            <tr>
                <th>Aantal</th>
                <td>{{ bestellingregel.aantal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bestellingregel_index') }}">back to list</a>

    <a href="{{ path('bestellingregel_edit', {'id': bestellingregel.id}) }}">edit</a>

    {{ include('bestellingregel/_delete_form.html.twig') }}
{% endblock %}
