{% extends 'base.html.twig' %}

{% block title %}Fruit{% endblock %}

{% block body %}
    <h1>Fruit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fruit.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ fruit.naam }}</td>
            </tr>
            <tr>
                <th>Seizoen</th>
                <td>{{ fruit.seizoen }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ recept.naam }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fruit_index') }}">back to list</a>

    <a href="{{ path('fruit_edit', {'id': fruit.id}) }}">edit</a>

    {{ include('fruit/_delete_form.html.twig') }}
{% endblock %}
