{% extends 'base.html.twig' %}

{% block title %}Bewerk Bestelling{% endblock %}

{% block body %}
<div class="container-md">
    <h1>Bewerk Bestelling</h1>

    {{ include('bestelling/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info" style="margin-bottom: 10px;" href="{{ path('bestelling_index') }}">back to list</a>

    {{ include('bestelling/_delete_form.html.twig') }}
</div>

{% endblock %}
