{% extends 'base.html.twig' %}

{% block title %}Bestelling index{% endblock %}

{% block body %}
<div class="container-md">
    <h1>Bestellingen</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Afhaaldatum</th>
                <th>Aantal</th>
                <th>Klant</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Telefoon</th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <th>Bewerken</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for bestelling in bestellings %}
        {% for bestellingregel in bestellingregels %}
            <tr>
                <td>{{ bestelling.afhaaldatum ? bestelling.afhaaldatum|date('Y-m-d') : '' }} {{ bestelling.klant }}</td>
                <td>{{ bestellingregel.aantal }} </td>
                <td>{{ bestelling.klant }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ bestelling.telefoon}}</td>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a class="btn btn-primary" style="margin-bottom: 5px" href="{{ path('bestelling_edit', {'id': bestelling.id}) }}">edit</a>
                    {{ include('bestelling/_delete_form.html.twig') }}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
