<form method="post" action="{{ path('fruit_delete', {'id': fruit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fruit.id) }}">
    <button class="btn btn-danger">Verwijderen</button>
</form>
