{% extends 'base.html.twig' %}

{% block title %}Bewerk Fruit{% endblock %}

{% block body %}
<div class="container-md">
    <h1>Bewerk Fruit</h1>

    {{ include('fruit/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info" href="{{ path('fruit_index') }}">Terug naar lijst</a>

    {{ include('fruit/_delete_form.html.twig') }}
</div>
{% endblock %}
