{% extends 'base.html.twig' %}

{% block title %}Fruit index{% endblock %}

{% block body %}
<div class="container">
    <h1>Fruit </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Seizoen</th>
                <th>Wijzigen</th>
            </tr>
        </thead>
        <tbody>
        {% for fruit in fruits %}
            <tr>
                <td>{{ fruit.id }}</td>
                <td>{{ fruit.naam }}</td>
                <td>{{ fruit.seizoen }}</td>
                <td>
                    <a class="btn btn-primary" style="margin: 5px" href="{{ path('fruit_edit', {'id': fruit.id}) }}">bewerken</a>
                    <a> {{ include('fruit/_delete_form.html.twig') }} </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
